$animation-duration-base: 200ms;
$animation-duration-fast: 175ms;
$animation-duration-slow: 125ms;

$elevation-dp: (
  '0dp': 0,
  '1dp': 5%,
  '2dp': 7%,
  '3dp': 8%,
  '4dp': 9%,
  '6dp': 11%,
  '8dp': 12%,
  '12dp': 14%,
  '16dp': 15%,
  '24dp': 16%,
);
