@use '@material/theme';

%dark-theme {
  $on-primary:     theme.accessible-ink-color(#121212);
  $on-secondary:   theme.accessible-ink-color(#EF5350);
  $on-surface:     theme.accessible-ink-color(#212121);
  $text-primary:   theme.accessible-ink-color(#121212, primary);
  $text-secondary: theme.accessible-ink-color(#121212, secondary);
  $text-hint:      theme.accessible-ink-color(#121212, hint);
  $text-disabled:  theme.accessible-ink-color(#121212, disabled);
  $text-icon:      theme.accessible-ink-color(#121212, icon);

  --mdc-theme-primary:                      #121212;
  --mdc-theme-secondary:                    #EF5350;
  --mdc-theme-background:                   #121212;
  --mdc-theme-surface:                      #212121;
  --mdc-theme-on-primary:                   #{$on-primary};
  --mdc-theme-on-secondary:                 #{$on-secondary};
  --mdc-theme-on-surface:                   #{$on-surface};
  --mdc-theme-text-primary-on-background:   #{$text-primary};
  --mdc-theme-text-secondary-on-background: #{$text-secondary};
  --mdc-theme-text-hint-on-background:      #{$text-hint};
  --mdc-theme-text-disabled-on-background:  #{$text-disabled};
  --mdc-theme-text-icon-on-background:      #{$text-icon};
}
