@use '@material/theme' with (
  $background: #FAFAFA,
  $secondary:  #E53935,
  $primary:    #121212
);

@use 'sass:map';
@use '@material/typography' with ($font-family: unquote('Muli, sans-serif'));
@use '@material/theme/mdc-theme';
@use '@material/animation';
@use '@material/typography/mdc-typography';
@use '@material/fab/mdc-fab';
@use '@material/card/mdc-card';
@use '@material/card';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/icon-button/mdc-icon-button';
@use '@material/icon-button';
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/top-app-bar';
@use '@material/elevation/mdc-elevation';
@use '@material/elevation';
@use '@material/dialog/mdc-dialog'  ;
@use '@material/button/mdc-button';
@use '@material/list/mdc-list';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';
@use '@material/select/mdc-select';
@use '@material/textfield/mdc-text-field';
@use '@material/textfield';

@import '~normalize.css';

$animation-duration: 250ms;

:root {
  --mdc-theme-death: #e53935;
  --mdc-theme-recover: #43A047;
  --mdc-theme-label-weight: bold;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.main-container {
  padding-top: 1em;
}

.add-fab {
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
}

@include elevation.overlay-common;

$elevation-dp: (
  '0dp': 0,
  '1dp': 5%,
  '2dp': 7%,
  '3dp': 8%,
  '4dp': 9%,
  '6dp': 11%,
  '8dp': 12%,
  '12dp': 14%,
  '16dp': 15%,
  '24dp': 16%,
);

%light-theme {
  $on-primary:     theme.accessible-ink-color(#121212);
  $on-secondary:   theme.accessible-ink-color(#43A047);
  $on-surface:     theme.accessible-ink-color(#FFFFFF);
  $text-primary:   theme.accessible-ink-color(#FAFAFA, primary);
  $text-secondary: theme.accessible-ink-color(#FAFAFA, secondary);
  $text-hint:      theme.accessible-ink-color(#FAFAFA, hint);
  $text-disabled:  theme.accessible-ink-color(#FAFAFA, disabled);
  $text-icon:      theme.accessible-ink-color(#FAFAFA, icon);

  --mdc-theme-primary:                      #121212;
  --mdc-theme-secondary:                    #43A047;
  --mdc-theme-background:                   #FAFAFA;
  --mdc-theme-surface:                      #FFF;
  --mdc-theme-on-primary:                   #{$on-primary};
  --mdc-theme-on-secondary:                 #{$on-secondary};
  --mdc-theme-on-surface:                   #{$on-surface};
  --mdc-theme-text-primary-on-background:   #{$text-primary};
  --mdc-theme-text-secondary-on-background: #{$text-secondary};
  --mdc-theme-text-hint-on-background:      #{$text-hint};
  --mdc-theme-text-disabled-on-background:  #{$text-disabled};
  --mdc-theme-text-icon-on-background:      #{$text-icon};
}

%dark-theme {
  $on-primary:     theme.accessible-ink-color(#121212);
  $on-secondary:   theme.accessible-ink-color(#EF5350);
  $on-surface:     theme.accessible-ink-color(#212121);
  $text-primary:   theme.accessible-ink-color(#121212, primary);
  $text-secondary: theme.accessible-ink-color(#121212, secondary);
  $text-hint:      theme.accessible-ink-color(#121212, hint);
  $text-disabled:  theme.accessible-ink-color(#121212, disabled);
  $text-icon:      theme.accessible-ink-color(#121212, icon);

  --mdc-theme-primary:                      #121212;
  --mdc-theme-secondary:                    #EF5350;
  --mdc-theme-background:                   #121212;
  --mdc-theme-surface:                      #212121;
  --mdc-theme-on-primary:                   #{$on-primary};
  --mdc-theme-on-secondary:                 #{$on-secondary};
  --mdc-theme-on-surface:                   #{$on-surface};
  --mdc-theme-text-primary-on-background:   #{$text-primary};
  --mdc-theme-text-secondary-on-background: #{$text-secondary};
  --mdc-theme-text-hint-on-background:      #{$text-hint};
  --mdc-theme-text-disabled-on-background:  #{$text-disabled};
  --mdc-theme-text-icon-on-background:      #{$text-icon};
}

.themed {
  &[data-theme=light]  { @extend %light-theme; }
  &[data-theme=dark]   { @extend %dark-theme;  }
  [data-theme=light] & { @extend %light-theme; }
  [data-theme=dark]  & { @extend %dark-theme;  }
}

.mdc-top-app-bar {
  @extend .mdc-elevation-transition;
  @include elevation.overlay-dimensions(100%, 100%, false);
}

.app-bar {
  z-index: 4;
  [data-theme=light] & {
    &.docked {
      --mdc-theme-primary: var(--mdc-theme-background);
      --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-background);
    }

    &:not(.docked) {
      transition:  
        background
        $animation-duration
        elevation.$transition-timing-function;
    }
  }

  [data-theme=dark] & {
    &.docked {
      --mdc-theme-primary: var(--mdc-theme-background);
      --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-background);
    }

    &:not(.docked) {
      @include elevation.overlay-opacity(map.get($elevation-dp, '8dp'));
    }
  }
}

.search-bar {
  @include elevation.elevation(0);

  clip-path: circle(0%);
  z-index: 5;
  transition: 
    clip-path
    $animation-duration 
    elevation.$transition-timing-function
    $animation-duration,

    box-shadow
    $animation-duration
    elevation.$transition-timing-function;

  &.show {
    &:not(.docked) {
      transition: 
        clip-path
        $animation-duration
        elevation.$transition-timing-function;
    }

    &.docked {
      @include elevation.elevation(4);

      transition: 
        clip-path
        $animation-duration
        elevation.$transition-timing-function,

        box-shadow
        $animation-duration
        elevation.$transition-timing-function 
        $animation-duration;
    }

    clip-path: circle(125%) !important;
  }

  .mdc-text-field {
    width: 100%;
  }

  .search-clear-button {
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }

  [data-theme=light] & {
    --mdc-theme-primary: var(--mdc-theme-background);
    --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-background);

    .mdc-text-field {
      @include textfield.fill-color(transparent);
      @include textfield.ink-color(theme.prop-value(text-primary-on-light));
      @include textfield.caret-color(theme.prop-value(text-primary-on-light));
      @include textfield.placeholder-color(theme.prop-value(text-secondary-on-light));
    }
  }

  [data-theme=dark] & {
    @include elevation.overlay-opacity(map.get($elevation-dp, '8dp'));
  }

  .mdc-text-field {
    @include textfield.fill-color(transparent);
    @include textfield.ink-color(inherit);
    @include textfield.caret-color(inherit);
    @include textfield.placeholder-color(theme.prop-value(text-secondary-on-dark));
  }
}

.search-bar__list-container {
  @extend .mdc-theme--surface;
  @extend .mdc-theme--on-surface;

  height: 100%;
  max-height: 0%;
  width: 100vw;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transition: 
    max-height
    $animation-duration * 2
    elevation.$transition-timing-function;

  will-change: max-height;

  &.show {
    @media (max-width: 599px) {
      max-height: calc(100vh - 56px);
      padding-top: 56px;
    }

    @media (min-width: 600px) {
      max-height: calc(100vh - 64px);
      padding-top: 64px;
    }
  }
}

.mdc-card {
  @include card.shape-radius(10px, false);

  animation: animation.enter(fade-in, 350ms);

  [data-theme=dark] & {
    --mdc-theme-surface: var(--mdc-theme-background);
    --mdc-theme-death: #EF5350;
    --mdc-theme-recovered: #66BB6A;

    @include elevation.overlay-opacity(map.get($elevation-dp, '1dp'));

    .card__label {
      font-weight: normal;
    }
  }

  [data-theme=light] & {
    .card__label {
      font-weight: bold;
    }
  }

  .card__title {
    @extend .mdc-typography--headline6;
    @extend .mdc-theme--text-primary-on-background;

    padding: 12px;
  }

  .card__data-grid {
    width: 100%;
  }

  .card__menu {
    @extend .mdc-theme--text-primary-on-background;
  }

  .card__label {
    @extend .mdc-theme--text-secondary-on-background;

    margin-bottom: 0.5rem;
  }

  .card__value {
    @extend .mdc-typography--headline4;

    &.confirmed {
      @extend .mdc-theme--text-primary-on-background;
    }

    &.death {
      color: var(--mdc-theme-death);
    }

    &.recovered {
      color: var(--mdc-theme-recover);
    }
  }
}

@keyframes fade-in {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hide {
  display: none;
}

.mdc-list-item__text {
  color: var(--mdc-theme-text-primary-on-background);
}
